.header {
    margin-top: 0.1rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    margin-bottom: 1.45rem;
    width: 100vw;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    padding: 1.45rem 1.0875rem;
}

.nav-option {
    margin: 0 1rem;
}

.nav-option > a {
    text-decoration: none;
}

.small-link {
    margin-top: 0.5rem;
    font-weight: bold;
}

.small-link > a:hover {
    color: #8c8888;
}

.emoji {
    font-size: 15px;
    margin: 5px;
}

@media only screen and (max-width: 600px) {
    .nav-bar > h2 {
        font-size: 5vw;
    }
}

@media only screen and (max-width: 370px) {
    .nav-bar > h2 {
        font-size: 7vw;
    }

    .nav-bar {
        flex-direction: column;
    }
}