@charset "utf-8";
/* CSS Document */
.navigation {
	background-color: #818181;
}

.navigation ul {
	display: block;
	list-style-type: none;
	text-align: center;
}

.navigation li {
	display:inline-block;
}

.navigation li a {
	color: white;
	text-align: center;
	padding: 15px;
	font-size: 20px;
	text-decoration: none;
	display: block;
}

.navigation a:hover {
	background-color: red;
}

#banner {
	text-align: center;
}